#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#

# host programs on Cygwin
*.exe

# Build tree
/build-*

#
# Top-level generic files

#
# git files that we don't want to ignore even it they are dot-files
#


